::ng-deep .custom-dialog {
  overflow-y: auto;
  border-radius: 1%;
  background-color: #e57373; /* Material Red 300 */
}

::ng-deep mat-dialog-container {
  border-radius: 1%;
  background-color: transparent !important;
}

.confirmDeleted {
  color: #f44336; /* Material Red 500 */
  font-weight: bold;
}

h1 {
  color: #ffebee; /* Material Red 50 */
}

p {
  color: #ffebee; /* Material Red 50 */
}

.buttonClose {
  color: #efebe9; /* Material Brown 50 */
}
