.subToolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.sidenav {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}

.container {
  margin: 10px;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

mat-sidenav-container {
  background-color: var(--mat-sys-tertiary);
}
