mat-option {
  background-color: var(--mat-sys-error);
}

mat-divider {
  border-top-color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

#container {
  max-width: 40vh;
  height: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
