mat-option {
  background-color: var(--mat-option-bg);
}

mat-divider {
  border-top-color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

#container {
  max-width: 40vh;
  height: auto;
}
