mat-divider {
  border-top-color: white;
}

h1 {
  color: white;
}

.heroes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero-card {
  flex: 0 0 20%;
}

@media (max-width: 599px) {
  .heroes-container {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .hero-card {
    flex: 0 0 30%;
  }
}

@media (min-width: 960px) {
  .hero-card {
    flex: 0 0 15%;
  }
}
