mat-card {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  height: 100%;
}

.read-more {
  color: var(--mat-sys-on-primary);
}

p {
  word-wrap: break-word;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-card img {
  max-width: 100%;
  height: 500px;
  display: block;
  object-fit: contain;
}

mat-card-actions {
  margin-top: auto;
}

.btn-info {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}

mat-button {
  color: var(--mat-sys-on-tertiary);
}
