<mat-grid-list cols="1" *ngIf="!hero; else divHero">
  <mat-grid-tile>
    <mat-progress-spinner></mat-progress-spinner>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #divHero>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px"
         class="content">
      <div fxFlex="50">
        <div fxLayout="column"
             fxLayoutGap="10px">
          <div>
            <h1> {{ hero.superhero }} <small>- {{ hero.alter_ego }}</small></h1>
            <mat-divider></mat-divider>
          </div>
          <div>
            <img id="imgCover" [src]="hero | image: false">
          </div>
        </div>
      </div>
      <div fxFlex="50">
        <h1> Ficha técnica </h1>
        <mat-divider></mat-divider>
        <mat-list>
          <div mat-subheader id="removePaddingBottom">Alter ego:</div>
          <p>{{ hero.alter_ego }}</p>
          <div mat-subheader id="removePaddingBottom">{{ hero.characters.length | i18nPlural: charactersMap }}</div>
          <p>{{ hero.characters | ascendingOrder}}</p>
          <div mat-subheader id="removePaddingBottom">Publicado por</div>
          <p>{{ hero.publisher }}</p>
          <div mat-subheader id="removePaddingBottom">{{ hero.originators.length | i18nPlural: originatorsMap }} </div>
          <p>{{ hero.originators | ascendingOrder}}</p>
          <div mat-subheader id="removePaddingBottom">Descripción:</div>
          <p cdkTextareaAutosize>{{ hero.description }}</p>
          <div mat-subheader id="removePaddingBottom">Primera aparición</div>
          <div fxLayout="column">
            <p>{{ hero.first_appearance }}</p>
            <img id="imgFA" [src]="hero | image: true">
          </div>
        </mat-list>
      </div>
    </div>
</ng-template>